<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Agreements</h1>
        <hr><br><br>
        <alert :message=message v-if="showMessage"></alert>
        <button type="button" class="btn btn-success btn-sm"
          v-b-modal.agreement-modal>New Agreement</button>
        <br><br>

        <!-- agreements table -->
        <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Partners</th>
              <th scope="col">Date</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(agreement, index) in agreements" :key="index">
              <td v-b-tooltip.hover
                  :title="agreement.id"
                  v-b-modal.agreement-view-modal
                  @click="viewAgreementModal(agreement)">{{ agreement.title }}</td>
              <td>{{ agreement.partners }}</td>
              <td>
                <span v-if="agreement.date">{{ agreement.date }}</span>
                <span v-else>Terminated</span>
              </td>
              <td class="text-right">
                <button type="button"
                        class="btn btn-primary btn-sm"
                        @click="signAgreement(agreement)">
                    Sign
                </button>
                <button type="button"
                        class="btn btn-secondary btn-sm"
                        v-b-modal.agreement-update-modal
                        @click="updateAgreementModal(agreement)">
                    Update
                </button>
                <button type="button"
                        class="btn btn-success btn-sm"
                        @click="saveAgreement(agreement)">
                    Save
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>

    <!-- create agreement modal -->
    <b-modal ref="createAgreementModal"
             id="agreement-modal"
             title="Create a new agreement"
             hide-footer>
      <b-form @submit="onSubmit" @reset="onReset" class="w-100">
        <b-form-group id="form-title-group"
                      label="Title:"
                      label-for="form-title-input">
          <b-form-input id="form-title-input"
                        type="text"
                        v-model="createAgreementForm.title"
                        required
                        placeholder="Enter Title">
          </b-form-input>
        </b-form-group>
        <b-form-group id="form-partners-group"
                      label="Partner's Email:"
                      label-for="form-partners-input">
          <b-form-input id="form-partners-input"
                        type="email"
                        v-model="createAgreementForm.partners"
                        required
                        placeholder="Enter Partner's Email">
          </b-form-input>
        </b-form-group>
        <b-form-group id="form-date-group"
                      label="Reminder Date:"
                      label-for="form-date-input">
          <b-form-input id="form-date-input"
                        type="date"
                        v-model="createAgreementForm.date"
                        required
                        placeholder="Enter Date">
          </b-form-input>
        </b-form-group>
        <b-form-group id="form-notes-group"
                      label="Agreement:"
                      label-for="form-partners-input">
          <b-form-textarea id="form-notes-input"
                        type="text"
                        v-model="createAgreementForm.notes"
                        placeholder="Enter Agreement"
                        :rows="5">
          </b-form-textarea>
        </b-form-group>
        <b-form-group id="form-upload-group"
                      label="Agreement Files:"
                      label-for="form-upload-input">
          <file-base64
            v-bind:multiple="true"
            v-bind:done="getFiles">
          </file-base64>
        </b-form-group>
        <b-button type="submit" variant="primary">Submit</b-button>
        <b-button type="reset" variant="danger">Reset</b-button>
      </b-form>
    </b-modal>

    <b-modal ref="viewAgreementModal"
             id="agreement-view-modal"
             :title="viewAgreement.title"
             hide-footer>
        <div>ID: {{ viewAgreement.id }}</div>
        <div>Partner's Email: {{ viewAgreement.partners }}</div>
        <div>Reminder Date: {{ viewAgreement.date }}</div>
        <div>Agreement:</div>
        <div>{{ viewAgreement.notes }}</div>
        <div>Agreement Files:</div>
        <div>{{ viewAgreement.files }}</div>
    </b-modal>

    <b-modal ref="updateAgreementModal"
             id="agreement-update-modal"
             title="Update"
             hide-footer>
      <b-form @submit="onSubmitUpdate" @reset="onResetUpdate" class="w-100">
        <b-form-group id="form-update-title-group"
                      label="Title:"
                      label-for="form-update-title-input">
          <b-form-input id="form-update-title-input"
                        type="text"
                        v-model="updateAgreementForm.title"
                        required
                        placeholder="Enter Title">
          </b-form-input>
        </b-form-group>
        <b-form-group id="form-update-partners-group"
                      label="Partner's Email:"
                      label-for="form-update-partners-input">
          <b-form-input id="form-update-partners-input"
                        type="email"
                        v-model="updateAgreementForm.partners"
                        required
                        placeholder="Enter Partner's Email">
          </b-form-input>
        </b-form-group>
        <b-form-group id="form-update-date-group"
                      label="Reminder Date:"
                      label-for="form-update-date-input">
          <b-form-input id="form-update-date-input"
                        type="date"
                        v-model="updateAgreementForm.date"
                        placeholder="Enter Date">
          </b-form-input>
        </b-form-group>
        <b-form-group id="form-update-notes-group"
                      label="Agreement:"
                      label-for="form-update-partners-input">
          <b-form-textarea id="form-update-notes-input"
                        type="text"
                        v-model="updateAgreementForm.notes"
                        placeholder="Enter Agreement"
                        :rows="5">
          </b-form-textarea>
        </b-form-group>
        <b-form-group id="form-update-upload-group"
                      label="Agreement Files:"
                      label-for="form-update-upload-input">
          <file-base64
            v-bind:multiple="true"
            v-bind:done="getFiles">
          </file-base64>
        </b-form-group>
        <b-button type="submit" variant="primary">Update</b-button>
        <b-button type="reset" variant="danger">Cancel</b-button>
      </b-form>
    </b-modal>
  </div>
</template>

<script>
import axios from 'axios';
import saveAs from 'file-saver';
import Alert from './Alert';
import fileBase64 from './File';

const openpgp = require('openpgp');

openpgp.initWorker({ path: 'static/openpgp.worker.min.js' });

export default {
  data() {
    return {
      agreements: [],
      createAgreementForm: {
        title: '',
        partners: '',
        date: '',
        notes: '',
        files: '',
      },
      viewAgreement: {
        id: '',
        title: '',
        partners: '',
        date: '',
        notes: '',
        files: '',
      },
      updateAgreementForm: {
        id: '',
        title: '',
        partners: '',
        date: '',
        notes: '',
        files: '',
      },
      message: '',
      showMessage: false,
    };
  },
  components: {
    alert: Alert,
    fileBase64,
  },
  methods: {
    getFiles(files) {
      this.createAgreementForm.files = files[0].base64;
      // eslint-disable-next-line
      console.log(files[0].base64);
      this.sign(files[0].base64);
      this.keygen([{ name: 'Phil Zimmermann', email: 'phil@openpgp.org' }]);
    },
    keygen(userId) {
      openpgp.generateKey({ userIds: userId })
        .then((key) => {
          // eslint-disable-next-line
          console.log(key);
          localStorage.setItem('vor.key', key.privateKeyArmored);
          localStorage.setItem('vor.pubkey', key.publicKeyArmored);
        });
    },
    sign(message) {
      const sig = openpgp.key.readArmored(localStorage.getItem('vor.key'))
        .then(async (keys) => {
          const options = {
            privateKeys: keys[0],
            message: openpgp.message.fromText(JSON.stringify(message)),
          };
          return openpgp.sign(options)
            .then((signature) => {
              // eslint-disable-next-line
              console.log(signature);
              return signature;
            });
        });
      return sig;
    },
    verify(message) {
      openpgp.key.readArmored(localStorage.getItem('vor.key'))
        .then((keys) => {
          const options = {
            privateKeys: keys[0],
            message: openpgp.message.fromText(JSON.stringify(message)),
          };
          openpgp.sign(options)
            .then((signature) => {
              // eslint-disable-next-line
              console.log(signature);
            });
        });
    },
    encrypt(message) {
      openpgp.key.readArmored(localStorage.getItem('vor.key'))
        .then((keys) => {
          const options = {
            privateKeys: keys[0],
            message: openpgp.message.fromText(JSON.stringify(message)),
          };
          openpgp.sign(options)
            .then((signature) => {
              // eslint-disable-next-line
              console.log(signature);
            });
        });
    },
    decrypt(message) {
      openpgp.key.readArmored(localStorage.getItem('vor.key'))
        .then((keys) => {
          const options = {
            privateKeys: keys[0],
            message: openpgp.message.fromText(JSON.stringify(message)),
          };
          openpgp.sign(options)
            .then((signature) => {
              // eslint-disable-next-line
              console.log(signature);
            });
        });
    },
    getAgreements() {
      const path = 'https://vor1.e-agreement.eu:5000/agreements';
      axios.get(path)
        .then((res) => {
          this.agreements = res.data.agreements;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    createAgreement(payload) {
      const path = 'https://vor1.e-agreement.eu:5000/agreements';
      axios.post(path, payload)
        .then(() => {
          this.getAgreements();
          this.message = 'Agreement created!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getAgreements();
        });
    },
    updateAgreement(payload, agreementID) {
      const path = `https://vor1.e-agreement.eu/agreements/${agreementID}`;
      axios.post(path, payload)
        .then(() => {
          this.getAgreements();
          this.message = 'Agreement updated!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getAgreements();
        });
    },
    initForm() {
      this.createAgreementForm.title = '';
      this.updateAgreementForm.title = '';
      this.viewAgreement.title = '';
    },
    onSubmit(evt) {
      evt.preventDefault();
      this.$refs.createAgreementModal.hide();
      const payload = {
        partners: this.createAgreementForm.partners,
        date: this.createAgreementForm.date,
        data: this.createAgreementForm.data,
      };
      this.createAgreement(payload);
      this.initForm();
    },
    onSubmitUpdate(evt) {
      evt.preventDefault();
      this.$refs.updateAgreementModal.hide();
      const payload = {
        date: this.updateAgreementForm.date,
        data: this.updateAgreementForm.data,
      };
      this.updateAgreement(payload, this.updateAgreementForm.id);
    },
    onReset(evt) {
      evt.preventDefault();
      this.$refs.createAgreementModal.hide();
      this.initForm();
    },
    onResetUpdate(evt) {
      evt.preventDefault();
      this.$refs.updateAgreementModal.hide();
      this.initForm();
      this.getAgreements(); // why?
    },
    updateAgreementModal(agreement) {
      this.updateAgreementForm = agreement;
    },
    viewAgreementModal(agreement) {
      this.viewAgreement = agreement;
    },
    saveAgreement(agreement) {
      const blob = new Blob([JSON.stringify(agreement)], { type: 'application/json;charset=utf-8' });
      saveAs(blob, `${agreement.id}.json`);
    },
    signAgreement(agreement) {
      const agr = {
        id: agreement.id,
        parteners: agreement.partners,
        parentID: agreement.parentId,
        date: agreement.date,
        data: agreement.data,
      };
      const messege = JSON.stringify(agr);
      this.sign(messege)
        .then(async (sig) => {
          const path = `https://vor1.e-agreement.eu:5000/agreements/${agreement.id}`;
          const payload = {
            signature: sig.data,
          };
          axios.put(path, payload)
            .then(() => {
              this.getAgreements();
              this.message = 'Agreement signed!';
              this.showMessage = true;
            })
            .catch((error) => {
              // eslint-disable-next-line
              console.error(error);
              this.getAgreements();
            });
        });
    },
  },
  created() {
    this.getAgreements();
  },
};
</script>
